html {
  scroll-behavior: smooth;
}

html body {
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: whitesmoke;
  position: relative;
}

html body .container {
  width: 100%;
}

html body .container .hamburger {
  width: 27px;
  height: 27px;
  position: fixed;
  top: 32px;
  right: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
  z-index: 200;
  display: none;
}

html body .container .hamburger span {
  cursor: pointer;
  width: 100%;
  height: 4px;
  border-radius: 9px;
}

html body .container .hamburger-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 175;
}

html body .container .hamburger-menu img {
  margin: auto auto 2em auto;
  width: 125px;
  height: 125px;
}

html body .container .hamburger-menu a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 0.25em 0;
  margin: 1em auto 0 auto;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 19px;
  color: #2e2e2e;
  position: relative;
}

html body .container .hamburger-menu a::before {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  visibility: hidden;
  background-color: #2e2e2e;
  top: 80%;
}

html body .container .hamburger-menu a:hover::before {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 1;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  visibility: visible;
  background-color: #2e2e2e;
  top: 95%;
}

html body .container .hamburger-menu a:last-child {
  margin-bottom: auto;
}

html body .container .navbar {
  -webkit-transition: height 0.3s, background-color 0.3s, -webkit-box-shadow 0.3s;
  transition: height 0.3s, background-color 0.3s, -webkit-box-shadow 0.3s;
  transition: height 0.3s, background-color 0.3s, box-shadow 0.3s;
  transition: height 0.3s, background-color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
  z-index: 100;
  width: 100vw;
  height: 80px;
  background-color: white;
  -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .container .navbar .logo {
  margin-left: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

html body .container .navbar .logo img {
  height: 75%;
  margin: auto;
}

html body .container .navbar .links {
  height: 100%;
  margin: auto auto auto 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .container .navbar .links a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 0.25em 0;
  margin: auto 0.5em auto 0.5em;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 19px;
  color: #2e2e2e;
  position: relative;
}

html body .container .navbar .links a::before {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  visibility: hidden;
  background-color: #2e2e2e;
  top: 80%;
}

html body .container .navbar .links a:hover::before {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 1;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  visibility: visible;
  background-color: #2e2e2e;
  top: 95%;
}

html body .container .navbar .left {
  padding: 0.5em 1em;
  background-color: white;
  margin: auto 2em auto auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: none;
          box-shadow: none;
}

html body .container .navbar .left p {
  margin: auto 1em auto 0;
  text-align: center;
  font-family: "Montserrat";
  color: #2e2e2e;
}

html body .container .navbar .left img {
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.15);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: auto 0 auto 0.25em;
}

html body .container .navbar .left a {
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.25));
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 0.3em 0;
  margin: auto 1em auto 0;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #445ffb;
  font-family: "Montserrat";
}

html body .container .navbar .left a:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0.7;
}

html body .container .log-menu {
  position: fixed;
  background-color: white;
  z-index: 101;
  top: 100px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  right: 1em;
  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .container .log-menu ul {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

html body .container .log-menu ul li {
  margin-left: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-family: "Montserrat";
  padding: 0.65em 1em;
  cursor: pointer;
}

html body .container .log-menu ul li p {
  margin: 0;
  color: #2e2e2e;
  text-decoration: none;
}

html body .container .log-menu ul li #diff {
  color: red;
}

html body .container .log-menu ul li:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: #e4e4e4;
}

html body .container .visible {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.3));
}

html body .container .top {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0);
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 100px;
}

html body .container .top .left {
  border-radius: 5px;
  -webkit-filter: drop-shadow(0 6px 1px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0 6px 1px rgba(0, 0, 0, 0.15));
}

html body .container .top .links a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 0.25em 0;
  margin: auto 0.5em auto 0.5em;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 19px;
  color: white;
  position: relative;
}

html body .container .top .links a::before {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  visibility: hidden;
  background-color: white;
  top: 80%;
}

html body .container .top .links a:hover::before {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 1;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  visibility: visible;
  background-color: white;
  top: 95%;
}

@media only screen and (max-width: 1000px) {
  html body .container .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  html body .container .hamburger span {
    background-color: #2e2e2e;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  html body .container .navbar {
    display: none;
  }
}

html body .container .floating-logo {
  background: #2e2e2e;
  border-radius: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 90;
  width: 50px;
  height: 50px;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  -webkit-box-shadow: 0 0 8px 1px rgba(10, 10, 10, 0.2);
          box-shadow: 0 0 8px 1px rgba(10, 10, 10, 0.2);
}

html body .container .floating-logo:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0.9;
}

html body .container .floating-logo img {
  width: 60%;
  margin: auto;
}

html body .container .floating-ds {
  -webkit-transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: opacity 0.2s, transform 0.3s;
  transition: opacity 0.2s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  position: fixed;
  bottom: 100px;
  right: 25px;
  z-index: 90;
}

html body .container .hidden {
  -webkit-transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: opacity 0.2s, transform 0.3s;
  transition: opacity 0.2s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateX(500px);
          transform: translateX(500px);
  opacity: 0;
}

html body .container .footer {
  background-color: white;
  position: relative;
  width: 100%;
  z-index: 52;
  height: auto;
  padding: 1.25em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 6px 1px rgba(10, 10, 10, 0.2);
          box-shadow: 0 0 6px 1px rgba(10, 10, 10, 0.2);
}

html body .container .footer .top-section {
  width: 60%;
  margin: 0 auto;
  padding: 0.5em 0 4em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .container .footer .top-section .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body .container .footer .top-section .logo img {
  margin: auto;
  width: 40%;
}

html body .container .footer .top-section .col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body .container .footer .top-section .col .title {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .container .footer .top-section .col .title h4 {
  font-family: "Poppins";
  font-size: 19px;
  color: #2e2e2e;
  margin: auto auto 0 0;
}

html body .container .footer .top-section .col .content {
  margin: 1em auto auto 0;
}

html body .container .footer .top-section .col .content p {
  text-decoration: none;
  font-family: "Poppins";
  color: #2e2e2eb4;
  position: relative;
  margin: 0 auto auto auto;
}

html body .container .footer .top-section .col .content a {
  text-decoration: none;
  font-family: "Poppins";
  color: #2e2e2eb4;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  position: relative;
}

html body .container .footer .top-section .col .content a:hover:not(.iubenda-black) {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  color: #2e2e2e;
}

html body .container .footer .top-section .col .content a::before:not(.iubenda-black) {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #2e2e2e;
  opacity: 0;
  top: 80%;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

html body .container .footer .top-section .col .content a:hover::before:not(.iubenda-black) {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  top: 94%;
  opacity: 1;
}

html body .container .footer .bottom-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body .container .footer .bottom-section hr {
  border: none;
  height: 1px;
  background-color: #2e2e2e;
  width: 80%;
  margin: auto auto 2em auto;
}

html body .container .footer .bottom-section p {
  padding: 0.75em 0;
  font-family: "Roboto";
  color: #2e2e2e;
  margin: auto;
  text-align: center;
}

@media only screen and (max-width: 1100px) {
  html body .container .footer .top-section {
    width: 700px !important;
    padding-left: 1em !important;
  }
}

@media only screen and (max-width: 750px) {
  html body .container .footer .top-section {
    max-width: 500px;
    padding-left: 1em;
    padding-right: 1em;
  }
  html body .container .footer .top-section .logo {
    display: none;
  }
}

@media only screen and (max-width: 580px) {
  html body .container .footer .top-section {
    max-width: 300px;
  }
  html body .container .footer .top-section .col:last-child {
    display: none;
  }
}

html body .container .page {
  background: #f6df99;
  z-index: 50;
  height: auto;
  min-height: 80vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body .container .page .section {
  margin: auto;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  padding: 3em 0 4em 0;
  z-index: 30;
  background-color: white;
  -webkit-box-shadow: 0 0 8px 1px rgba(10, 10, 10, 0.2);
          box-shadow: 0 0 8px 1px rgba(10, 10, 10, 0.2);
}

html body .container .page .section .description {
  margin: 2em auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body .container .page .section .description img {
  width: 150px;
  margin: 2.5em auto;
}

html body .container .page .section .description h3 {
  margin: 0 auto;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: bold;
  color: white;
  position: relative;
  z-index: 51;
}

html body .container .page .section .description h3::before {
  z-index: -1;
  content: "";
  background-color: #2e2e2e;
  position: absolute;
  width: 140%;
  left: -20%;
  height: 120%;
  top: -10%;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

html body .container .page .section .description p {
  max-width: 750px;
  text-align: center;
  font-family: "Montserrat";
  font-size: 17px;
  margin: 2em auto;
  color: #2e2e2eb4;
}

html body .container .page .section .content {
  width: 75%;
  margin: 0 auto;
}

html body .container .page .section .content .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2e2e2e;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  position: relative;
}

html body .container .page .section .content .controls button {
  outline: none;
  margin: auto 0;
  position: relative;
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: transparent;
  padding: 0.4em 0.8em;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
  color: #2e2e2e;
  border: none;
  border-radius: 3px;
  z-index: 95;
  font-size: 18px;
  font-weight: bold;
  font-family: "Montserrat";
}

html body .container .page .section .content .controls button::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  left: 25%;
  top: 0;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s;
  background-color: white;
  z-index: -1;
}

html body .container .page .section .content .controls button:hover::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  left: 25%;
  top: 0;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s;
  background-color: #2e2e2e;
  z-index: -1;
}

html body .container .page .section .content .controls button:hover {
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
  color: white;
}

html body .container .page .section .content .controls .toggled {
  color: white;
}

html body .container .page .section .content .controls .toggled::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  left: 25%;
  top: 0;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s;
  background-color: #2e2e2e;
  z-index: -1;
}

html body .container .page .section .content table {
  border: 3px solid #2e2e2e;
  border-top: none;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

html body .container .page .section .content table tr {
  border-bottom: 1px solid #2e2e2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .container .page .section .content table tr:last-child {
  border-bottom: none;
}

html body .container .page .section .content table tr th {
  padding: 0.5em 0;
  font-family: "Montserrat";
  color: white;
  background-color: #2e2e2e;
  width: 20%;
  border-bottom: 2px solid #2e2e2e;
}

html body .container .page .section .content table tr td {
  font-size: 15px;
  padding: 0.75em 0.75em;
  font-family: "Montserrat";
  color: #2e2e2e;
  width: 20%;
  border-bottom: 1px solid #2e2e2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

html body .container .page .section .content table tr td p {
  max-width: 90%;
  margin: auto;
  text-align: center;
}

html body .container .page .section .content table tr td .bar {
  margin: 0.25em auto auto auto;
  border: 1px solid #2e2e2eb4;
  width: 50%;
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 3px;
}

html body .container .page .section .content table tr td .bar div {
  background-color: #8c9eff;
}

html body .container .page .section .content table tr .wimg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body .container .page .section .content table tr .wimg img {
  margin: auto auto 0.15em auto;
  width: 20px;
  height: 20px;
}

html body .container .page .section .content table tr .wimg p {
  margin: 0.15em auto auto auto;
}

html body .container .page .section .content .select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html body .container .page .section .content .select button {
  border: none;
  background: none;
  font-size: 17px;
  color: #2e2e2e;
  padding: 0;
  font-family: "Poppins";
  position: relative;
  padding: 0.4em 0.7em;
  cursor: pointer;
}

html body .container .page .section .content .select button:first-child {
  margin: 0.5em auto auto 0;
}

html body .container .page .section .content .select button:last-child {
  margin: 0.5em 0 auto auto;
}

html body .container .page .section .content .select button:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: white;
}

html body .container .page .section .content .select button::before {
  content: "";
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  background: #2e2e2e;
  height: 100%;
  width: 0.5em;
  left: 0;
  top: 0;
  z-index: -1;
}

html body .container .page .section .content .select button:hover::before {
  content: "";
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  background: #2e2e2e;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}

html body .container .page .divider {
  position: relative;
  width: 100%;
  height: 15vh;
  background: #f6df99;
  z-index: 29;
}

html body .container .page .divider:first-child {
  height: 20vh;
}
/*# sourceMappingURL=punizioni.css.map */