<div class="floating-logo" onclick="showDs()">
  <img src="/img/discord.png" alt="discord.png">
</div>

<div class="floating-ds hidden">
  <iframe src="https://ptb.discord.com/widget?id=706103159835197460&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
</div>