<div class="footer">
  <div class="top-section">
    <div class="logo">
      <img src="/img/favicon.svg" alt="favicon.svg" />
    </div>
    <div class="col">
      <div class="title">
        <h4>Contatti</h4>
      </div>
      <div class="content">
        <a target="_blank" href="https://www.instagram.com/overlegend_network/">Instagram</a><br />
        <a target="_blank" href="https://discord.overlegend.it/">Discord</a><br />
        <a target="_blank" href="mailto:overlegendmc@gmail.com">Email</a><br />
      </div>
    </div>
    <div class="col">
      <div class="title">
        <h4>Link</h4>
      </div>
      <div class="content">
        <a href="/home">Home</a><br />
        <a href="/modalita">Modalità</a><br />
        <a href="/regole">Regolamento</a><br />
        <a href="/staff">Staff</a><br />
        <a href="/banlist">Banlist</a><br />
        <a
          href="https://www.iubenda.com/privacy-policy/29634598"
          class="iubenda-black iubenda-noiframe iubenda-embed iubenda-noiframe"
          title="Privacy Policy "
          >Privacy Policy</a
        >
        <script type="text/javascript">
          (function (w, d) {
            var loader = function () {
              var s = d.createElement("script"),
                tag = d.getElementsByTagName("script")[0];
              s.src = "https://cdn.iubenda.com/iubenda.js";
              tag.parentNode.insertBefore(s, tag);
            };
            if (w.addEventListener) {
              w.addEventListener("load", loader, false);
            } else if (w.attachEvent) {
              w.attachEvent("onload", loader);
            } else {
              w.onload = loader;
            }
          })(window, document);
        </script>
      </div>
    </div>
    <div class="col">
      <div class="title">
        <h4>Supportaci</h4>
      </div>
      <div class="content">
        <p>
          Sostieni le nostre ingenti spese e il nostro lavoro tramite lo
          <a href="store.overlegend.it" target="_blank">store</a>.
        </p>
      </div>
    </div>
  </div>
  <div class="bottom-section">
    <hr />
    <p>© 2019 - 2021 OverLegend Network.</p>
  </div>
</div>
