<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Rancan Nicolò" />
<title><%= displayName %> | OverLegend minecraft network</title>

<link rel="icon" href="/img/favicon.svg" />
<link rel="stylesheet" href="/style/pages/<%= id %>/<%= id %>.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> 
<link ref="favicon" href="/img/favicon.webp">