<!DOCTYPE html>
<html lang="it">
  <head>
    <%- include("partials/head", {displayName: "Profilo", id: "profilo"}); %>
  </head>
  <body onscroll="checkScroll(-1);">
    <div class="container">
      <%- include("partials/navbar"); %>
      <%- include("partials/discordFloating"); %>
      <div class="page">
        <div class="divider"></div>
        <div class="section">
        </div>  
      </div>
      <%- include("partials/footer"); %>
    </div>

    <script src="/script/utils.js"></script>
    
    <script>
      (function() {
        goTop();
        document.body.addEventListener("scroll", checkScroll(-1));
        document.querySelector(".navbar").classList.toggle("top");
      }());

      checkScroll(-1);
      
      function showDs() {
        document.querySelector(".floating-ds").classList.toggle("hidden");
      }
    </script>
  </body>
</html>