<!DOCTYPE html>
<html lang="it">
  <head>
    <%- include("partials/head", {displayName: "Regole", id: "regole"}); %>
  </head>
  <body onscroll="checkScroll(-1);">
    <div class="container">
      <%- include("partials/navbar"); %>
      <%- include("partials/discordFloating"); %>
      <div class="page">
        <div class="divider"></div>
        <div class="section">
          <div class="description">
            <img src="/img/rules.webp" alt="rules.webp">
            <h3>Regole del network</h3>
            <p>Qui è possibile consultare la lista di alcune punizioni inflitte ai player. Se ritieni che una di queste sia infondata, apri un ticket all'interno del nostro server discord, o inviaci una mail specificando: data, nome utente, lo staffer in questione e la motivazione.</p>
          </div>
          <div class="content">
            <div class="index">
              <div class="title">
                <h3>Indice sezioni</h3>
              </div>
              <div class="links">
                <div class="link">
                  <button onclick="scrollInto('#network', 75)">Network</button>
                </div>
                <div class="link">
                  <button onclick="scrollInto('#skyblock', 75)">SkyBlock</button>
                </div>
                <div class="link">
                  <button onclick="scrollInto('#vanilla', 75)">Vanilla</button>
                </div>
                <div class="link">
                  <button onclick="scrollInto('#discord',  75)">Discord</button>
                </div>
              </div>
            </div>
            <div class="rules">
              <div class="rule" id="network">
                <h4>Regole Network:</h4>
                <button onclick="scrollInto('.index',  75)">Indice</button>
                <p id="on">Lo staff, si impegna nel cercare di essere il più cordiale e utile possibile, evitando toni bruschi e un linguaggio scurrile. Inoltre, lo staff non ha il permesso di eseguire controlli hack ai player, sia per confermare un sospetto, che per esplicita richiesta da parte del player.</p>
                <p id="tw">L'utente si impegna ad osservare le regole sottostanti, evitando di infrangerle e di abusare di eventuali scappatoie logiche.</p>
                <ul>
                  <li>1. Ogni sanzione applicata ad un'infrazione di una delle seguenti regole, sarà decisa dallo staff secondo vari criteri di valutazione, come l'atteggiamento dell'utente stesso, l'iterazione o meno del fatto, o la pura volontà personale dello staffer in questione.  <font color="red" size="2">(L'innoservanza di questa regola comporta un'aggravante all'infrazione commessa)</font></li>
                  <li>2. Il nostro staff (riconoscibile tramite gli appositi prefissi o tramite la <a href="/staff">lista staff</a>), ha la piena facoltà di scegliere i tempi e le modalità delle sanzioni inflitte all'utente qualora dovesse infrangere il regolamento, pur restando in linea con le sanzioni qui sotto elencate.  <font color="red" size="2">(L'innoservanza di questa regola comporta un'aggravante all'infrazione commessa)</font></li>
                  <li>3. Il regolamento non è definitivo, pertanto è dovere degli utenti tenersi aggiornati sul regolamento per non rischiare una possibile sanzione per la trasgressione di una o più regole.  <font color="red" size="2">(L'innoservanza di questa regola comporta un'aggravante all'infrazione commessa)</font></li>
                  <li>4. È ammesso il possedimento di un solo account all'interno del network, è tuttavia possibile possedere più account qualora essi siano utilizzati da persone diverse, è quindi dovere del giocatore informare lo staff di tale situazione, o si potrà incombere in un ban permanente. <font color="red" size="2">(Warn + Ban permanente)</font></li>
                  <li>5. La creazione di più account per eludere una punzione inflitta all'account principale, comporterà ad un'inasprimento della pena, fino ad arrivare al ban permanente. <font color="red" size="2">(Warn + Ban permanente)</font></li>
                  <li>6. Qualsiasi tentativo di truffa allo staff verrà punito severamente, inoltre dopo aver acquistato un qualsiasi pacchetto dallo store ufficiale del server, non sarà possibile effettuare alcun rimborso (verrà applicata una sanzione nel caso di rimborso "forzato" tramite il gestore del vostro conto).  <font color="red" size="2">(Warn + Ban da 7 giorni a permanente + Annullamento del pacchetto acquistato e possibile rimozione di alcuni vantaggi acquisiti)</font></li>
                  <li>7. Nel network è assolutamente vietato fingersi un membro dello staff. Tale trasgressione verrà punita in base alle azioni eseguite dal giocatore. <font color="red" size="2">(Warn + Ban da 3 a 14 giorni)</font></li>
                  <li>8. Lo sfruttamento di bug o exploit verrà severamente punito (con bug o exploit si intendono meccaniche non volute che rovinano l'esperienza di gioco). <font color="red" size="2">(Warn + Ban da 7 a 30 giorni + aggravanti)</font></li>
                  <li>9. È vietato insultare, discriminare, e creare situazioni di flame tramite la chat o altri mezzi di comunicazione, rivolti verso giocatori, animali e il server stesso (compresi i messaggi privati). <font color="red" size="2">(Warn + Mute da 1 ora a 2 giorni fino ad arrivare a un ban da 3 giorni o ad uno di 7)</font></li>
                  <li>10. È vietato sponsorizzare altre community, server o gruppi pubblici.  <font color="red" size="2">(Warn + Mute da 2 giorni a ban permanente)</font></li>
                  <li>11. È punito l'abusare dei comandi di report e di richiesta aiuto. <font color="red" size="2">(Warn + Mute da 1 ora fino a 12 ore e/o un ban da 1 a 3 giorni + aggravanti)</font></li>
                  <li>12. Sono vietate tutte le mod/hack che garantiscono un vantaggio in game (es: fullbright, xray, autoclicker, vape ecc). <font color="red" size="2">(Warn + Ban da 7 a 30 giorni)</font></li>
	<li>13. È vietato infastire lo staff e i giocatori con qualsiasi comportamento scorretto (anche in chat privata). <font color="red" size="2">(Warn + Mute da 1 ora a 8 ore e/o ban da 1 giorno a 5 giorni)</font></li>
	<li>14. È assolutamente vietato minacciare qualsiasi soggetto di attacchi informatici e/o di morte (Compresi tutti i metodi di comunicazione). <font color="red" size="2">(Warn + Ban permanente)</font></li>
	<li>15. Non è consentito utilizzare nomi utenti molto simili a quelli dello staff o nomi utenti che contengano insulti ecc. <font color="red" size="2">(Ban permanente dell'account)</font></li>
	<li>16. Non è consentito agli utenti vip e non vip cambiarsi il nome(se ne hanno il permesso) utilizzando caratteri speciali non riconducibili all'utente in questione. <font color="red" size="2">(Warn + possibile ban di 1 giorno)</font></li>
                </ul>
              </div>
              <div class="rule" id="skyblock">
                <h4>Regole SkyBlock:</h4>
                <button onclick="scrollInto('.index',  75)">Indice</button>
	<p id="on">PREMESSA: Queste regole valgono per la seguente modalità (SkyBlock) e vanno ad aggiungersi alle regole generali di tutto il network.</p>
                <ul>
                  <li>1. È vietato l'utilizzo di macchine anti afk. <font color="red" size="2">(Warn + ban di 1 giorno + possibile rimozione e/o reset account)</font></li>
                  <li>2. È vietata anche la sola costruzione di lag machine. <font color="red" size="2">(Warn + Ban da 2 a 10 giorni + rimozione del circuito)</font></li>
                  <li>3. È vietato teammare al warp pvp.  <font color="red" size="2">(Warn + Ban di 1 giorno se necessario)</font></li>
                  <li>4. È vietato il cross farming, ovvero creare isole per guadagnare oggetti. <font color="red" size="2">(Warn + Ban da 3 a 10 giorni + reset account/isola se necessario)</font></li>
	<li>5. È vietato dare informazioni ad altri utenti su possibili eventi in corsi nella modalità. <font color="red" size="2">(Warn + Ban e/o mute fino al termine dell'evento.)</font></li>
	<li>6. È vietato utilizzare strategie per ottenere oggetti o vantaggi tramite la creazione di più isole. <font color="red" size="2">(Warn + Ban da 2 a 5 giorni + Possibile restet dell'account.)</font></li>
	<li>7. Gli utenti vip non possono vendere o dare o prestare oggetti a loro esclusivi (questi oggetti si identificano tramite un'apposita lore o info al momento dell'acquisto del pacchetto vip o oggetto). <font color="red" size="2">(Warn a tutti gli utenti coinvolti 	+ Rimozione dell'oggetto senza rimborso)</font></li>
	<li>7. È vietato tippare o farsi tippare in zone tra cui warp, isole, arene, mondi ai quali non si avrebbe accesso per il proprio ruolo/rank<font color="red" size="2">(Warn a tutti gli utenti coinvolti + Ban da 1 a 5 giorni)</font></li>
                </ul>
              </div>
              <div class="rule" id="vanilla">
                <h4>Regole Vanilla:</h4>
                <button onclick="scrollInto('.index',  75)">Indice</button>
	<p id="on">PREMESSA: Queste regole valgono per la seguente modalità (Vanilla) e vanno ad aggiungersi alle regole generali di tutto il network.<br> Lo staff non interviene nel caso di grief e/o furto causato da una persona trustata nel claim dove è avvenuta l'infrazione</p>
                <ul>
                  <li>1. Tutti i claim vengono eliminati automaticamente dopo 60 giorni di inattività.   <font color="red" size="2">(Regola accettata automaticamente dall'utente, proteste per la seguenete verranno punite con un warn + sanzione in base alla situazione)</font></li>
                  <li>2. È vietato lo spawn kill. <font color="red" size="2">(Warn + Ban di 1 giorno se necessario)</font></li>
	<li>3. È vietato costruire o claimare una zona vicino a un claim di un altro utente almeno che esso non abbia dato il suo consenso. <font color="red" size="2">(Warn + Rimozione del claim + Ban di 1 giorno se necessario)</font></li>
	<li>4. È vietato costruire grandi farm con grandi quantità di redstone che possono causare il lag o il crash del server  <font color="red" size="2">(Warn + Rimozione della farm + Aggravanti)</font></li>
	<li>5. È vietato costruire farm afk di qualsiasi tipo (le farm sono consentite almeno che non siano utilizzate in afk e che rispettino la regola 4 di questa sezione. <font color="red" size="2">(Warn + Rimozione della farm + Rimozione oggetti ottenuti per quanto possibile + Aggravanti)</font></li>
                </ul>
              </div>
              <div class="rule" id="discord">
                <h4>Regole Discord:</h4>
                <button onclick="scrollInto('.index',  75)">Indice</button>
	<p id="on">PREMESSA: Queste regole sono esclusivamente vincenti per il server discord del nostro network (discord.overlegend.it).</p>
                <ul>
                  <li>1. È vietato abusare del canale supporto aprendo ticket senza motivazione.  <font color="red" size="2">(Warn + sanzione a scelta se necessario)</font></li>
                  <li>2. È vietato pingare tutto lo staff per futili ragioni.  <font color="red" size="2">(Warn + sanzione a scelta se necessario)</font></li>
                  <li>3. È vietato pubblicizzare altri server, prodotti, community inviando il link di invito o link inerenti nei canali testuali, vocali o privati.  <font color="red" size="2">(Warn + sanzione a scelta se necessario)</font></li>
	<li>4. Nel server discord è proibito insultare, diffamare, augurare la morte a qualcuno attraverso ogni forma di comunicazione .<font color="red" size="2">(Warn + sanzione a scelta in base alla situazione, augurio di morte = ban)</font></li>
                </ul>
	<p id="on">PREMESSA FINALE: Tutti gli utenti che incombano in una o più sanzioni hanno la possibilità di fare ricorso tramite la sezione ticket del nostro server discord o tramite il modulo google, i quali verranno contattati successivamente da uno staffer amministratore il quale cercherà di rivedere la situazione decidendo se annullare, mantenere o aumentare la o le sanzioni assegnate allo stesso o agli stessi utenti (questa decisione è decisiva, nessuno staffer, neanche un fondatore, potrà annullare la decisione di questo amministratore), si ricorda inoltre che abusare di questa possibilità o di intasare lo staff di richieste in merito a una richiesta di ricorso effettuata comporterà un'ulteriore sanzione e la rispinta del ricorso effettuato.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="divider"></div>
      </div>
      <%- include("partials/footer"); %>
    </div>

    <script src="/script/utils.js"></script>
    
    <script>
      (function() {
        goTop();
        document.body.addEventListener("scroll", checkScroll(-1));
        document.querySelector(".navbar").classList.toggle("top");
      }());

      checkScroll(-1);
      
      function showDs() {
        document.querySelector(".floating-ds").classList.toggle("hidden");
      }
    </script>
  </body>
</html>